@charset "utf-8";
/* CSS Document */

circle {
  cursor: pointer;
  fill: #fff;
  stroke: #00FF00;
  stroke-width: 1.5px;
}

text {
	font-size:12px;
}

path.link {
  fill: none;
  stroke: #00FF00;
  stroke-width: 1.5px;
}

